@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,400;1,700&display=swap");
* {
  font-family: "poppins";
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
}

.link-container {
  display: flex;
  justify-content: center;
  width: 200px;
}

.link-container li {
  display: flex;
  justify-content: center;
  width: 200px;
  margin: 10px;
  list-style-type: none;
}
.link-container li a {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  background-color: indigo;
  width: 200px;
  color: white;
}

img {
  border-radius: 50%;
}

a {
  text-decoration: none;
}
